openapi: 3.0.3
info:
  title: Unofficial Skylight API (Community Reference)
  version: 0.7.0
  description: |
    Reverse-engineered reference for Skylight endpoints based on observed traffic.
    JSON:API-style resources are common (type, id, attributes, relationships).
    **Unofficial**; for research and interoperability. All examples redacted.

    ## Errors & status codes

    Error responses are documented via shared `components/responses`. Except for
    `304` (observed) these are **conventional expectations**, not fully captured —
    the exact error body has not been verified, so `ErrorDocument` describes the
    standard JSON:API error shape as a best guess.

    - `401` — missing/expired/invalid token. Re-capture a fresh token (see docs/auth.md).
    - `404` — frame or resource not found.
    - `422` — validation error on a write (create/update).
    - `429` — rate limiting, **if** enforced; limits are not yet characterized.

    All authenticated endpoints may also return `5xx` on server errors.
servers:
  - url: https://app.ourskylight.com
tags:
  - name: Frames
  - name: Chores
  - name: Categories
  - name: Devices
  - name: Lists
  - name: TaskBox
  - name: Calendars
  - name: Rewards
  - name: Meals
    description: Meal categories and the meal plan (sittings/instances).
  - name: Recipes
    description: Recipe box and recipe→grocery-list actions.
  - name: Assist
    description: >
      AI/import-assisted creation ("Assist") via auto_creation_intents. An async
      engine-driven flow (create → poll → created_items).

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    basicToken:
      type: http
      scheme: basic
      description: |
        Observed Authorization header uses an opaque Basic token. Treat as secret.

  responses:
    NotModified:
      description: Not Modified (observed; conditional GET with a matching ETag/cache).
    Unauthorized:
      description: Missing, expired, or invalid token.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorDocument' }
    Forbidden:
      description: Authenticated but not permitted for this frame/resource.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorDocument' }
    NotFound:
      description: Frame or resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorDocument' }
    UnprocessableEntity:
      description: Validation error on a write (create/update).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorDocument' }
    TooManyRequests:
      description: Rate limited, if enforced (limits not yet characterized).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorDocument' }

  schemas:
    # Conventional JSON:API error shape. NOT yet captured from Skylight — the real
    # error body may differ. Used by the shared error responses above.
    ErrorObject:
      type: object
      properties:
        status:
          type: string
          description: HTTP status code as a string (JSON:API convention)
        code:
          type: string
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              type: string
            parameter:
              type: string
      additionalProperties: true

    ErrorDocument:
      type: object
      properties:
        errors:
          type: array
          items: { $ref: '#/components/schemas/ErrorObject' }
      required: [errors]

    JsonApiResourceId:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
      required: [type, id]

    # ---- Categories ----
    CategoryAttributes:
      type: object
      properties:
        color:
          type: string
          nullable: true
          description: Hex color; observed with leading '#'
          pattern: "^#?[0-9A-Fa-f]{6}$"
        selected_for_chore_chart:
          type: boolean
          nullable: true
        linked_to_profile:
          type: boolean
          nullable: true
        label:
          type: string
          nullable: true
        profile_pic_url:
          type: string
          nullable: true
      additionalProperties: true

    CategoryResource:
      type: object
      properties:
        type:
          type: string
          description: JSON:API resource type
          enum: [category]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/CategoryAttributes'
      required: [type, id]

    # ---- Chores ----
    ChoreAttributes:
      type: object
      properties:
        id:
          type: integer
          nullable: true
        summary:
          type: string
        status:
          type: string
          description: Known values include 'pending'
        start:
          type: string
          format: date
        start_time:
          type: string
          nullable: true
          description: e.g., '10:00'
        completed_on:
          type: string
          nullable: true
        is_future:
          type: boolean
          nullable: true
        recurring:
          type: boolean
        recurring_until:
          type: string
          nullable: true
        recurrence_set:
          type: string
          nullable: true
          description: RRULE-like string
        reward_points:
          type: integer
          nullable: true
        emoji_icon:
          type: string
          nullable: true
        routine:
          type: boolean
          nullable: true
        position:
          type: integer
          nullable: true
      additionalProperties: true

    ChoreRelationships:
      type: object
      properties:
        category:
          type: object
          properties:
            data:
              $ref: '#/components/schemas/JsonApiResourceId'

    ChoreResource:
      type: object
      properties:
        type:
          type: string
          description: JSON:API resource type
          enum: [chore]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/ChoreAttributes'
        relationships:
          $ref: '#/components/schemas/ChoreRelationships'
      required: [type, id, attributes]

    # ---- Devices ----
    DeviceAttributes:
      type: object
      description: Placeholder until a 200 body is captured.
      additionalProperties: true

    DeviceResource:
      type: object
      properties:
        type:
          type: string
          enum: [device]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/DeviceAttributes'
      required: [type, id]

    # ---- Lists ----
    ListAttributes:
      type: object
      properties:
        label:
          type: string
        color:
          type: string
          nullable: true
          description: Hex color; observed with leading '#'
          pattern: "^#?[0-9A-Fa-f]{6}$"
        kind:
          type: string
          description: "Known values: shopping or to_do"
        default_grocery_list:
          type: boolean
      additionalProperties: true

    ListRelationships:
      type: object
      properties:
        list_items:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/JsonApiResourceId'

    ListResource:
      type: object
      properties:
        type:
          type: string
          enum: [list]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/ListAttributes'
        relationships:
          $ref: '#/components/schemas/ListRelationships'
      required: [type, id, attributes]

    ListItemAttributes:
      type: object
      properties:
        label:
          type: string
        status:
          type: string
          enum: [pending, completed]
        section:
          type: string
          nullable: true
        position:
          type: integer
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
      additionalProperties: true

    ListItemResource:
      type: object
      properties:
        type:
          type: string
          enum: [list_item]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/ListItemAttributes'
      required: [type, id]

    # ---- Task Box Items ----
    TaskBoxItemAttributes:
      type: object
      properties:
        id:
          type: integer
          nullable: true
        summary:
          type: string
        emoji_icon:
          type: string
          nullable: true
        routine:
          type: boolean
          nullable: true
        reward_points:
          type: integer
          nullable: true
      additionalProperties: true

    TaskBoxItemResource:
      type: object
      properties:
        type:
          type: string
          enum: [task_box_item]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/TaskBoxItemAttributes'
      required: [type, id, attributes]

    # ---- Frames (minimal) ----
    FrameAttributes:
      type: object
      additionalProperties: true

    FrameResource:
      type: object
      properties:
        type:
          type: string
          enum: [frame]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/FrameAttributes'
      required: [type, id]

    # ---- Calendars ----
    # NOTE: A dedicated /source_calendars endpoint was NOT observed in captured
    # traffic. Connected-account data instead arrives as `calendar_account`
    # included resources inside the calendar_events response. This schema is
    # retained as unverified; prefer CalendarAccount* below.
    SourceCalendarAttributes:
      type: object
      description: Unverified; not observed in captured traffic. See CalendarAccountAttributes.
      additionalProperties: true

    SourceCalendarResource:
      type: object
      properties:
        type:
          type: string
          enum: [source_calendar]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/SourceCalendarAttributes'
      required: [type, id]

    # Connected calendar account, returned as an `included` resource of
    # calendar_events (include=calendar_account). Contains PII (emails).
    CalendarAccountAttributes:
      type: object
      properties:
        email:
          type: string
          description: Account email. **PII — redact in shared examples.**
        provider:
          type: string
          description: e.g., gmail
        active_calendars:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Often the calendar's email/address. **PII — redact.**
              name:
                type: string
                description: Calendar display name. May be personal — redact.
              role:
                type: string
                description: e.g., owner
              editable:
                type: boolean
            additionalProperties: true
      additionalProperties: true

    CalendarAccountResource:
      type: object
      properties:
        type:
          type: string
          enum: [calendar_account]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/CalendarAccountAttributes'
      required: [type, id]

    # Full shape captured from GET /calendar_events. Several fields are PII or
    # secret — see redaction notes and SECURITY.md.
    CalendarEventAttributes:
      type: object
      properties:
        uid:
          type: string
          description: >
            Event UID. Usually an opaque id, but some sync sources encode
            email-shaped values here — treat as potentially sensitive.
        summary:
          type: string
          description: Event title. **PII — redact in shared examples.**
        description:
          type: string
          nullable: true
          description: "**PII — redact.**"
        location:
          type: string
          nullable: true
          description: "**PII — redact.**"
        lat:
          type: number
          nullable: true
        lng:
          type: number
          nullable: true
        invited_emails:
          type: array
          description: "**PII — redact.**"
          items:
            type: string
        owner_email:
          type: string
          nullable: true
          description: "**PII — redact.**"
        status:
          type: string
          description: e.g., approved
        all_day:
          type: boolean
        timezone:
          type: string
          nullable: true
          description: IANA timezone name; may be null for all-day events
        starts_at:
          type: string
          format: date-time
          description: ISO-8601 with timezone offset
        ends_at:
          type: string
          format: date-time
          description: ISO-8601 with timezone offset
        recurring:
          type: boolean
        recurring_config:
          type: boolean
        rrule:
          type: array
          nullable: true
          description: >
            Recurrence lines when recurring; null otherwise. NOTE: an ARRAY of
            strings (e.g. ["RRULE:FREQ=WEEKLY", "EXDATE:..."]), unlike the
            single-string rrule on meal_sitting.
          items:
            type: string
        master_event_id:
          type: string
          nullable: true
          description: For recurring instances, the id of the master event
        source:
          type: string
          description: "Origin of the event, e.g. ics_link"
        kind:
          type: string
          description: e.g., standard
        editable:
          type: boolean
        countdown_enabled:
          type: boolean
        calendar_id:
          type: string
          nullable: true
          description: >
            **SECRET — redact.** Observed as a live webcal:// subscription URL that
            acts like a bearer credential for that calendar feed, NOT a plain id.
        supports_notification_settings:
          type: boolean
      additionalProperties: true

    CalendarEventRelationships:
      type: object
      properties:
        categories:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/JsonApiResourceId'
        calendar_account:
          type: object
          properties:
            data:
              $ref: '#/components/schemas/JsonApiResourceId'
              nullable: true
        event_notification_setting:
          type: object
          properties:
            data:
              $ref: '#/components/schemas/JsonApiResourceId'
              nullable: true

    CalendarEventResource:
      type: object
      properties:
        type:
          type: string
          enum: [calendar_event]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/CalendarEventAttributes'
        relationships:
          $ref: '#/components/schemas/CalendarEventRelationships'
      required: [type, id]

    # ---- Rewards ----
    RewardAttributes:
      type: object
      additionalProperties: true

    RewardResource:
      type: object
      properties:
        type:
          type: string
          enum: [reward]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/RewardAttributes'
      required: [type, id]

    RewardPointAttributes:
      type: object
      additionalProperties: true

    RewardPointResource:
      type: object
      properties:
        type:
          type: string
          enum: [reward_point]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/RewardPointAttributes'
      required: [type, id]

    # ---- Meal Categories ----
    MealCategoryAttributes:
      type: object
      properties:
        label:
          type: string
          description: e.g., Breakfast, Lunch, Dinner, Snack
        color:
          type: string
          nullable: true
          description: Hex color; observed with leading '#'
          pattern: "^#?[0-9A-Fa-f]{6}$"
        enabled:
          type: boolean
        position:
          type: integer
          description: Display order (0-based)
      additionalProperties: true

    MealCategoryResource:
      type: object
      properties:
        type:
          type: string
          enum: [meal_category]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/MealCategoryAttributes'
      required: [type, id]

    # ---- Recipes ----
    # Captured from GET /meals/recipes/{id}. IMPORTANT: recipes are NOT structured.
    # Ingredients and instructions are embedded as free text inside `description`,
    # by convention under "Ingredients:" and "Instructions:" headers. There is no
    # ingredients array, servings, time, or image field in the observed payload.
    MealRecipeAttributes:
      type: object
      properties:
        summary:
          type: string
          description: Recipe title/name
        description:
          type: string
          nullable: true
          description: >
            Free-text recipe body. By convention contains an "Ingredients:" block
            (newline-delimited items) followed by an "Instructions:" block
            (newline-delimited, numbered steps). NOT machine-structured — parse
            this text to extract ingredients/steps.
        draft:
          type: boolean
      additionalProperties: true

    MealRecipeRelationships:
      type: object
      properties:
        meal_category:
          type: object
          properties:
            data:
              $ref: '#/components/schemas/JsonApiResourceId'

    MealRecipeResource:
      type: object
      properties:
        type:
          type: string
          enum: [meal_recipe]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/MealRecipeAttributes'
        relationships:
          $ref: '#/components/schemas/MealRecipeRelationships'
      required: [type, id]

    # ---- Meal Sittings (a recipe/meal planned on one or more dates) ----
    MealSittingAttributes:
      type: object
      properties:
        summary:
          type: string
          description: Meal title (often the recipe name)
        description:
          type: string
          nullable: true
        note:
          type: string
          nullable: true
        rrule:
          type: string
          nullable: true
          description: RRULE string when the meal recurs; null for one-off meals
        draft:
          type: boolean
        recurring:
          type: boolean
        instances:
          type: array
          description: Concrete dates this sitting occurs on (YYYY-MM-DD)
          items:
            type: string
            format: date
      additionalProperties: true

    MealSittingRelationships:
      type: object
      properties:
        meal_category:
          type: object
          properties:
            data:
              $ref: '#/components/schemas/JsonApiResourceId'
        meal_recipe:
          type: object
          properties:
            data:
              $ref: '#/components/schemas/JsonApiResourceId'
        profiles:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/JsonApiResourceId'

    MealSittingResource:
      type: object
      properties:
        type:
          type: string
          enum: [meal_sitting]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/MealSittingAttributes'
        relationships:
          $ref: '#/components/schemas/MealSittingRelationships'
      required: [type, id, attributes]

    # Create body is a FLAT object (NOT JSON:API type/attributes wrapped),
    # as observed on POST /meals/sittings.
    MealSittingCreateRequest:
      type: object
      properties:
        summary:
          type: string
        recipeId:
          type: integer
          nullable: true
          description: Numeric meal_recipe id to attach; null for a free-text meal
        categoryId:
          type: integer
          description: Numeric meal_category id (which meal slot)
        date:
          type: string
          format: date
          description: The day the meal is planned for (YYYY-MM-DD)
        recurring:
          type: boolean
        description:
          type: string
          nullable: true
        saveToRecipeBox:
          type: boolean
          description: If true, persist an ad-hoc meal into the recipe box
      required: [summary, categoryId, date]

    # Flat request body observed on PATCH /meals/sittings/{id}/instances/{date}.
    # Edits a single dated instance. NOTE: the client sends BOTH camelCase and
    # snake_case id fields (categoryId + meal_category_id, recipeId + meal_recipe_id)
    # in the same body — appears to be belt-and-suspenders for compatibility.
    MealSittingInstanceUpdateRequest:
      type: object
      properties:
        date:
          type: string
          format: date
          description: New date for this instance (moves it); path date is the current one
        note:
          type: string
          nullable: true
        summary:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        rrule:
          type: string
          nullable: true
        saveToRecipeBox:
          type: boolean
        categoryId:
          type: string
          nullable: true
        meal_category_id:
          type: string
          nullable: true
          description: Duplicate of categoryId (snake_case); client sends both
        recipeId:
          type: string
          nullable: true
        meal_recipe_id:
          type: string
          nullable: true
          description: Duplicate of recipeId (snake_case); client sends both
      additionalProperties: true

    # ---- Meal Recipe create (flat body) ----
    # Flat request body observed on POST /meals/recipes (NOT JSON:API wrapped).
    MealRecipeCreateRequest:
      type: object
      properties:
        summary:
          type: string
          description: Recipe title/name
        description:
          type: string
          nullable: true
          description: >
            Free-text recipe body (Ingredients:/Instructions: convention). See
            MealRecipeAttributes — not machine-structured.
        meal_category_id:
          type: string
          nullable: true
          description: Numeric meal_category id (as a string), e.g. "2961982"
      required: [summary]

    # ---- Auto Creation Intents (the "Assist" AI backend) ----
    # Generalised AI/import-assisted creation. The `engine` selects what is built
    # (observed: meal_sittings_generator). Flow: POST to start → poll GET until
    # status flips processing→approved (result embedded) → GET .../created_items
    # for the ids of the real records created. `attachment_put_url` is a presigned
    # upload slot, likely used by mobile "Assist" to attach a photo/email payload.
    AutoCreationIntentAttributes:
      type: object
      properties:
        created_via:
          type: string
          description: e.g., app_form
        created_at:
          type: string
          format: date-time
        label:
          type: string
          nullable: true
          description: Human summary once resolved, e.g. "1 recipe and 1 meal"
        engine:
          type: string
          description: "Generation engine. Observed: meal_sittings_generator"
        status:
          type: string
          description: >
            Lifecycle status. Observed: processing, approved. Other terminal
            states (e.g. failed/rejected) likely exist but were not captured.
          enum: [processing, approved]
        external_result_url:
          type: string
          nullable: true
        result:
          type: object
          nullable: true
          description: >
            Engine-specific result payload; null until approved. For
            meal_sittings_generator: { new_recipes: [ { title, description } ] }.
          additionalProperties: true
        attachment_put_url:
          type: string
          nullable: true
          description: Presigned PUT URL for attaching an input file/image, when applicable.
      additionalProperties: true

    AutoCreationIntentResource:
      type: object
      properties:
        type:
          type: string
          enum: [auto_creation_intent]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/AutoCreationIntentAttributes'
      required: [type, id]

    # Flat request body observed on POST /auto_creation_intents.
    AutoCreationIntentCreateRequest:
      type: object
      properties:
        engine:
          type: string
          description: "Generation engine. Observed: meal_sittings_generator"
        text:
          type: string
          description: Natural-language prompt (e.g. "easy tomato soup")
        created_via:
          type: string
          description: e.g., app_form
        meal_category_id:
          type: string
          nullable: true
        ext:
          type: string
          nullable: true
        draft_first:
          type: boolean
        engine_inputs:
          type: object
          description: >
            Engine-specific inputs. For meal_sittings_generator:
            meal_sitting_dates (array of YYYY-MM-DD), meal_recipe_source
            (e.g. "generate"), meal_mouths_to_feed (int), add_to_grocery_list (bool).
          additionalProperties: true
      required: [engine, text]

    AutoCreatedItemAttributes:
      type: object
      properties:
        class_name:
          type: string
          description: "Backend model of the created record, e.g. Meal::Recipe, Meal::Sitting"
        label:
          type: string
          nullable: true
        sub_label:
          type: string
          nullable: true
        parent_id:
          type: string
          nullable: true
        destroyed:
          type: boolean
      additionalProperties: true

    AutoCreatedItemResource:
      type: object
      properties:
        type:
          type: string
          enum: [auto_created_item]
        id:
          type: string
          description: Id of the created record (e.g. the meal_recipe / meal_sitting id)
        attributes:
          $ref: '#/components/schemas/AutoCreatedItemAttributes'
      required: [type, id]

paths:
  # ---- Frames ----
  /api/frames/{frameId}:
    get:
      tags: [Frames]
      summary: Get frame by id
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          schema:
            type: string
          required: true
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FrameResource'
        '304': { $ref: '#/components/responses/NotModified' }

  # ---- Chores ----
  /api/frames/{frameId}/chores:
    get:
      tags: [Chores]
      summary: List chores for a frame in a date range
      description: |
        Observed query params: after, before (YYYY-MM-DD), include_late (bool), filter=linked_to_profile.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: query
          name: after
          schema: { type: string, format: date }
        - in: query
          name: before
          schema: { type: string, format: date }
        - in: query
          name: include_late
          schema: { type: boolean }
        - in: query
          name: filter
          schema:
            type: string
            enum: [linked_to_profile]
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ChoreResource' }
                  included:
                    type: array
                    items: { $ref: '#/components/schemas/CategoryResource' }
        '304': { $ref: '#/components/responses/NotModified' }
    post:
      tags: [Chores]
      summary: Create a chore
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [chore]
                    attributes:
                      $ref: '#/components/schemas/ChoreAttributes'
                    relationships:
                      $ref: '#/components/schemas/ChoreRelationships'
                  required: [type, attributes]
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ChoreResource' }
                  included:
                    type: array
                    items: { $ref: '#/components/schemas/CategoryResource' }

  # ---- Categories ----
  /api/frames/{frameId}/categories:
    get:
      tags: [Categories]
      summary: List categories
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/CategoryResource' }
        '304': { $ref: '#/components/responses/NotModified' }

  # ---- Devices ----
  /api/frames/{frameId}/devices:
    get:
      tags: [Devices]
      summary: List devices
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/DeviceResource' }
        '304': { $ref: '#/components/responses/NotModified' }

  # ---- Lists ----
  /api/frames/{frameId}/lists:
    get:
      tags: [Lists]
      summary: List lists
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ListResource' }
        '304': { $ref: '#/components/responses/NotModified' }

  /api/frames/{frameId}/lists/{listId}:
    get:
      tags: [Lists]
      summary: Get list by id
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: listId
          required: true
          schema: { type: string }
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ListResource' }
                  meta:
                    type: object
                    properties:
                      sections:
                        type: array
                        items: { type: object }
                  included:
                    type: array
                    items: { $ref: '#/components/schemas/ListItemResource' }

  # ---- Task Box ----
  /api/frames/{frameId}/task_box/items:
    post:
      tags: [TaskBox]
      summary: Create a task box item
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [task_box_item]
                    attributes:
                      $ref: '#/components/schemas/TaskBoxItemAttributes'
                  required: [type, attributes]
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/TaskBoxItemResource' }

  # ---- Calendars ----
  /api/frames/{frameId}/source_calendars:
    get:
      tags: [Calendars]
      summary: List source calendars (UNVERIFIED — not observed in traffic)
      description: |
        Not observed in captured traffic. Connected-account data is instead
        returned as `calendar_account` included resources on `calendar_events`.
        Retained pending confirmation; may not exist.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SourceCalendarResource' }
        '304': { $ref: '#/components/responses/NotModified' }

  /api/frames/{frameId}/calendar_events:
    get:
      tags: [Calendars]
      summary: List calendar events for a date range
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: query
          name: date_min
          required: true
          schema: { type: string, format: date }
        - in: query
          name: date_max
          required: true
          schema: { type: string, format: date }
        - in: query
          name: timezone
          required: false
          schema: { type: string }
        - in: query
          name: include
          required: false
          schema:
            type: string
            description: "CSV: categories,calendar_account,event_notification_setting"
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/CalendarEventResource' }
                  included:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/CategoryResource'
                        - $ref: '#/components/schemas/CalendarAccountResource'
        '304': { $ref: '#/components/responses/NotModified' }

  # ---- Rewards ----
  /api/frames/{frameId}/rewards:
    get:
      tags: [Rewards]
      summary: List rewards
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: query
          name: redeemed_at_min
          required: false
          schema: { type: string, format: date-time }
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/RewardResource' }
        '304': { $ref: '#/components/responses/NotModified' }

  /api/frames/{frameId}/reward_points:
    get:
      tags: [Rewards]
      summary: List reward points
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/RewardPointResource' }
        '304': { $ref: '#/components/responses/NotModified' }

  # ---- Meal Categories ----
  /api/frames/{frameId}/meals/categories:
    get:
      tags: [Meals]
      summary: List meal categories (Breakfast/Lunch/Dinner/Snack slots)
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MealCategoryResource' }
        '304': { $ref: '#/components/responses/NotModified' }

  # ---- Recipes ----
  /api/frames/{frameId}/meals/recipes:
    get:
      tags: [Recipes]
      summary: List recipes (recipe box)
      description: |
        Returns the full recipe box. The web app performs recipe **search/filter
        client-side** against this list — no per-query request is issued.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: query
          name: include
          required: false
          schema:
            type: string
            description: "CSV; observed: meal_category"
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MealRecipeResource' }
                  included:
                    type: array
                    items: { $ref: '#/components/schemas/MealCategoryResource' }
    post:
      tags: [Recipes]
      summary: Create a recipe
      description: |
        Creates a recipe directly. Request body is a **flat object** (not JSON:API
        wrapped). This is the simplest path for scripted recipe creation; the AI
        path (see Assist / auto_creation_intents) is a separate async flow.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: query
          name: include
          required: false
          schema:
            type: string
            description: "CSV; observed: meal_category"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealRecipeCreateRequest'
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/MealRecipeResource' }
                  included:
                    type: array
                    items: { $ref: '#/components/schemas/MealCategoryResource' }

  /api/frames/{frameId}/meals/recipes/{recipeId}:
    get:
      tags: [Recipes]
      summary: Get a recipe by id
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: recipeId
          required: true
          schema: { type: string }
        - in: query
          name: include
          required: false
          schema: { type: string }
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/MealRecipeResource' }
                  included:
                    type: array
                    items: { type: object }
    patch:
      tags: [Recipes]
      summary: Update a recipe
      description: |
        Observed when the "Update Recipe" toggle is enabled while editing a planned
        meal. Request body shape not yet captured in full.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: recipeId
          required: true
          schema: { type: string }
        - in: query
          name: include
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Recipe attributes to update (shape to be captured).
              additionalProperties: true
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/MealRecipeResource' }

  /api/frames/{frameId}/meals/recipes/{recipeId}/add_to_grocery_list:
    post:
      tags: [Recipes]
      summary: Add a recipe's ingredients to the grocery list
      description: |
        Recipe→Lists bridge. Sent with **no request body**. NOTE: this is **async** —
        the response echoes the recipe with `meta.auto_creation_intent_id`, meaning
        the ingredient parsing/append is dispatched through the Assist
        (auto_creation_intents) job system rather than written synchronously. To
        confirm the items landed, poll that intent (see the Assist endpoints) or
        re-read the target list.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: recipeId
          required: true
          schema: { type: string }
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: '#/components/schemas/MealRecipeResource'
                      - type: object
                        properties:
                          meta:
                            type: object
                            properties:
                              auto_creation_intent_id:
                                type: integer
                                description: Poll this intent to confirm completion

  # ---- Meal Sittings (the meal plan) ----
  /api/frames/{frameId}/meals/sittings:
    get:
      tags: [Meals]
      summary: List planned meals (sittings) in a date window
      description: |
        Pagination is by **date range** (infinite-scroll style): the client shifts
        `date_min`/`date_max` rather than using page/offset.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: query
          name: date_min
          required: false
          schema: { type: string, format: date }
        - in: query
          name: date_max
          required: false
          schema: { type: string, format: date }
        - in: query
          name: include
          required: false
          schema:
            type: string
            description: "CSV; observed: meal_category,meal_recipe"
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MealSittingResource' }
                  included:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/MealCategoryResource'
                        - $ref: '#/components/schemas/MealRecipeResource'
        '304': { $ref: '#/components/responses/NotModified' }
    post:
      tags: [Meals]
      summary: Plan a meal (create a sitting on a date)
      description: |
        The "add to day" action. NOTE the request body is a **flat object**, not the
        JSON:API `{data:{type,attributes}}` envelope used elsewhere.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealSittingCreateRequest'
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MealSittingResource' }
                  included:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/MealCategoryResource'
                        - $ref: '#/components/schemas/MealRecipeResource'

  /api/frames/{frameId}/meals/sittings/{sittingId}/instances:
    get:
      tags: [Meals]
      summary: List a sitting's instances in a date window
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: sittingId
          required: true
          schema: { type: string }
        - in: query
          name: date_min
          required: false
          schema: { type: string, format: date }
        - in: query
          name: date_max
          required: false
          schema: { type: string, format: date }
        - in: query
          name: include
          required: false
          schema:
            type: string
            description: "CSV; observed: meal_category,meal_recipe"
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MealSittingResource' }
                  meta:
                    type: object
                    properties:
                      date_min: { type: string, format: date }
                      date_max: { type: string, format: date }
                      deleted_sitting_ids:
                        type: array
                        items: { type: string }

  /api/frames/{frameId}/meals/sittings/{sittingId}/instances/{date}:
    patch:
      tags: [Meals]
      summary: Edit a single occurrence of a planned meal
      description: |
        Edits one dated instance of a (possibly recurring) sitting, keyed by the
        instance date (YYYY-MM-DD). A `date` in the body different from the path
        date moves the instance. Returns the updated sitting(s) plus a `meta` with
        `deleted_sitting_ids` for client sync.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: sittingId
          required: true
          schema: { type: string }
        - in: path
          name: date
          required: true
          description: Instance date (YYYY-MM-DD)
          schema: { type: string, format: date }
        - in: query
          name: date_min
          required: false
          schema: { type: string, format: date }
        - in: query
          name: date_max
          required: false
          schema: { type: string, format: date }
        - in: query
          name: include
          required: false
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealSittingInstanceUpdateRequest'
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MealSittingResource' }
                  meta:
                    type: object
                    properties:
                      date_min: { type: string, format: date }
                      date_max: { type: string, format: date }
                      deleted_sitting_ids:
                        type: array
                        items: { type: string }
    delete:
      tags: [Meals]
      summary: Remove a single occurrence of a planned meal
      description: |
        Deletes one dated instance of a sitting. Returned `meta.deleted_sitting_ids`
        reflects removals for client sync.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: sittingId
          required: true
          schema: { type: string }
        - in: path
          name: date
          required: true
          description: Instance date (YYYY-MM-DD)
          schema: { type: string, format: date }
        - in: query
          name: date_min
          required: false
          schema: { type: string, format: date }
        - in: query
          name: date_max
          required: false
          schema: { type: string, format: date }
        - in: query
          name: include
          required: false
          schema: { type: string }
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '200':
          description: OK

  # ---- Auto Creation Intents ("Assist" AI flow) ----
  /api/frames/{frameId}/auto_creation_intents:
    post:
      tags: [Assist]
      summary: Start an AI/import-assisted creation ("Assist")
      description: |
        Kicks off async generation. Flow:
        1. POST here → returns an intent with `status: processing`.
        2. Poll `GET /auto_creation_intents/{id}` until `status: approved`
           (the `result` field is then populated).
        3. `GET /auto_creation_intents/{id}/created_items` for the ids of the
           real records created (records are created server-side on approval;
           there is no separate confirm step).

        The `engine` selects what is generated (observed: `meal_sittings_generator`,
        which produces recipes + meal sittings). Request body is a **flat object**.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoCreationIntentCreateRequest'
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '200':
          description: OK (intent accepted; status typically `processing`)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AutoCreationIntentResource' }

  /api/frames/{frameId}/auto_creation_intents/{intentId}:
    get:
      tags: [Assist]
      summary: Poll an auto-creation intent
      description: |
        Poll until `status` flips from `processing` to `approved`. On approval the
        `result` field carries the engine output (for `meal_sittings_generator`,
        `result.new_recipes[]` with `title` and `description`).
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: intentId
          required: true
          schema: { type: string }
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AutoCreationIntentResource' }

  /api/frames/{frameId}/auto_creation_intents/{intentId}/created_items:
    get:
      tags: [Assist]
      summary: List records created by an approved intent
      description: |
        Returns the actual records (e.g. `Meal::Recipe`, `Meal::Sitting`) created
        from the intent's result, with their real ids for follow-up reads/edits.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: intentId
          required: true
          schema: { type: string }
      responses:
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AutoCreatedItemResource' }